html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Cascadia Code';
}
header {
  margin: 10px 0;
  padding: 0;
  width: 100%;
  height: auto;
  text-align: center;
  display: block;
}
main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 10px 0;
}
footer {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  height: 5vh;
  text-align: center;
}
img {
  width: 32px;
}
a {
  font-family: 'Montserrat', sans-serif;
  color: #f36;
  text-decoration-style: none !important;
  text-decoration-thickness: unset !important;
}
a:hover {
  color: #60f;
}

.form-control {
  display: inline-block;
  width: 80%;
  margin-right: 5px;
}

.btn-primary {
  background-color: #f36;
  border-color: #f36;
}
.btn-primary:hover {
  background-color: #60f;
  border-color: #60f;
}
.blockquote-footer {
  text-align: right;
}
.error-msg {
  color: #f36;
}
